* {
  border: 0;

  padding: 0;
  font-family: sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
  height: 100vh;
  box-sizing: inherit;
}
header {
  position: fixed;
  z-index: 99;
  white-space: nowrap;
  width: 100%;
  height: 170px;
  background-color: rgb(29, 29, 205);
}
.nav-top {
  display: flex;
  width: 100vw;
  background-color: rgb(70, 70, 202);
  padding-bottom: 20px;
}
.nav-mid-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.nav-bottom {
  position: inherit;
  width: 100vw;
  left: 400px;
}
.nav-follow {
  position: relative;
  top: 10px;
  margin-left: 20px;
  color: whitesmoke;
  width: 100vw;
}
.nav-bantuan {
  position: relative;
  top: 10px;
  color: whitesmoke;
  right: 20px;
  flex-wrap: nowrap;
}
.facebook-icon-container {
  transform: translateY(1px);
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
}
.facebook-icon {
  height: 14x;
}

.instagram-icon {
  background-color: white;
  border-radius: 50%;
  width: 18px;
  height: auto;
  margin-bottom: -1.1px;
}

.icon-bantuan-bahasa {
  margin-bottom: -1.3px;
  padding-right: 4px;
  width: 18px;
  height: auto;
}
.search-feature {
  position: relative;
  margin-left: 40px;
  height: 45px;
  width: 100%;
  min-width: 400px;
  border-radius: 5px;
  display: flex;
  font-size: 30px;
  font-weight: lighter;
  color: grey;
  padding-left: 10px;
  align-items: center;
  background-color: white;
}
.search-button-img {
  width: 25px;
  height: 25px;
  border-radius: 40%;
  padding: 4px;
}
button {
  position: absolute;
  right: 0;
  border-radius: 4px;
  width: 65px;
  height: 45px;

  background-color: rgb(255, 219, 37);
}
button:hover {
  cursor: pointer;
}
button:active {
  border-style: solid 2px red;
  width: 64.5px;
  height: 44.8px;
}
input[type="search"] {
  padding-left: 5px;
  margin-left: 10px;
  width: 100%;
  font-size: 20px;
  height: 30px;
  outline: none;
}

.logo-pedagang {
  margin-left: 20px;
  height: 50px;
  width: auto;
}
::placeholder {
  padding: 5px;
  font-family: sans-serif;
  font-size: 20px;
}
footer {
  background-color: rgb(255, 219, 37);
  width: 100%;
  height: 400px;
}
.quest-mark {
  width: 100px;
  height: auto;
  border-radius: 30%;
  background-color: whitesmoke;
}
.icon-cart-chat-bell {
  padding-left: 3vw;
}
.icon-people-profile {
  margin-right: 20px;
  margin-left: 7vw;
  background-color: rgb(255, 219, 37);
  border-radius: 50%;
  padding: 5px;
}
#kategori-option {
  color: rgb(29, 29, 205);
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.profile-text {
  position: inherit;
  right: 35px;
}
.nav-rekomendasi {
  display: flex;
}
.rekomendasi-btn {
  width: 15vw;
  font-weight: 600;
  justify-content: space-around;
  transition: color 0.3s;
}
.rekomendasi-btn:hover {
  color: rgb(247, 250, 151);
}
a:link {
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
}
main {
  padding-top: 170px;
  width: 100vw;
  height: 3000px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
}
.navbar {
  display: none;
}
.hidden {
  display: none;
}
.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  height: auto;
  position: absolute;
}
.carousel-container > div > img {
  width: 100%;
  border-radius: 10px;
}
.slides {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  z-index: 1;
  justify-content: center;
}
.slides-btn {
  width: 14px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.3s;
}
.slides-btn:hover {
  cursor: pointer;
  background-color: rgb(139, 139, 139);
}

.carousel-container > .left-btn {
  position: absolute;
  background-position: center;
  left: 10px;
  top: 45%;
  transform: rotate(270deg);
  background-image: url("./../../images/landing-page/button-arrow.svg");
  width: 40px;
  height: 40px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.carousel-container > .right-btn {
  position: absolute;
  background-position: center;
  top: 45%;
  right: 10px;
  transform: rotate(90deg);
  background-image: url("./../../images/landing-page/button-arrow.svg");
  width: 40px;
  height: 40px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.carousel-container > .left-btn:hover,
.right-btn:hover {
  background-color: rgb(139, 139, 139);
  cursor: pointer;
}
/* responsive design */

@media (max-width: 500px) {
  .nav-top,
  .nav-bottom,
  .nav-mid {
    display: none;
  }
  header {
    width: 100vw;
    min-width: 200px;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .nav-mid-container {
    padding: 0;
  }
  .logo-pedagang {
    margin-top: 0;
    margin-left: 20px;
    vertical-align: middle;
    height: 4vh;
  }
  .navbar {
    border: 2px solid white;
    height: 4vh;
    width: 4vh;
    position: absolute;
    top: 3vh;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.1s;
  }
  .navbar > img {
    height: 3vh;
  }
  .navbar:hover {
    background-color: rgb(142, 142, 230);
  }
  main {
    padding-top: 10vh;
  }
}
