* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(220, 223, 163, 1) 0%,
    rgba(17, 144, 255, 1) 100%
  );
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.8rem;
}

.container > .container__login {
  background: rgba(245, 245, 245, 0.68) 50%;
  border-radius: 20px;
  padding: 1.8rem;
}

form label {
  display: block;
  padding: 0.9rem;
}

.password,
.email {
  color: var(--black-800333333, #333);
  font-family: Arial;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.3px;
}

input {
  width: 360px;
  padding: 8px 8px 8px 16px;
  align-items: center;
  background-color: #efefef;
  border-radius: 6px;
  border: none;
}

.container__login > form > .forget__password {
  margin-top: 1rem;
  float: right;
  margin-top: 20px;
  color: var(--system-blue-007-aff, #007aff);
  font-family: Arial;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.forget__password > a > p:hover {
  color: #aea8ff;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a > .btn__login {
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  padding: 10px 8px 10px 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #655ddc;
  color: #efefef;
  font-size: 15px;
}

a > .btn__login:hover {
  color: #3d49e9;
  background-color: #fff453;
  transition: all 0.3s ease;
  color: #3d49e9;
}

.btn__glogin > a > .btn__login-gloginbtn {
  margin-top: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8px 16px;
  width: 360px;
  border: none;
  border-radius: 6px;
  background-color: #171c5e;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
}

.btn__glogin > a > .btn__login-gloginbtn:hover {
  color: #fff453;
  background-color: #3d49e9;
  transition: all 0.3s ease;
}

.signup__link > .sign__up {
  margin-top: 1.8rem;
  text-align: center;
}

@media (max-width: 500px) {
  .container > .container__login {
    background: none;
  }

  body {
    background: linear-gradient(
      90deg,
      rgb(227, 233, 108) 0%,
      rgb(5, 122, 225) 100%
    );
  }
}
